*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Noto Sans", sans-serif;
}
a{
    text-decoration: none;
}
.header{
    background-color: #163A24;
    color: #FBFAF7;
}

.container{
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header__link{
    color:  #FBFAF7;
}

.header__buttons{
    display: flex;
    align-items: center;
    gap: 24px;

}
.btn{
    background-color: #003b0f;
    padding: 15px 25px;
    border-radius: 160px;
}
